Sandbox/Intermediate/
Sandbox/Saved/
*/Saved/
*/Intermediate/
Sandbox/Saved/AutoScreenshot.png
Sandbox/Saved/Autosaves/PackageRestoreData.json
Sandbox/Intermediate/ReimportCache/3688439234.bin
Sandbox/Config/DefaultEngine.ini
Sandbox/Intermediate/
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Components/FaceObject_Auto1.uasset
Sandbox/Saved/Logs/Sandbox.log
Sandbox/Saved/Config/WorldState/3393405467.json
Sandbox/Saved/Config/Windows/Scalability.ini
Sandbox/Saved/Config/Windows/PhysXVehicles.ini
Sandbox/Saved/Backup/ThirdPersonExampleMap_BuiltData_2019-05-26-16-37-26.uasset
Sandbox/Saved/Backup/ThirdPersonExampleMap_2019-05-26-17-16-28.umap
Sandbox/Saved/Backup/ThirdPersonExampleMap_2019-05-26-17-00-37.umap
Sandbox/Saved/Backup/FaceObject_2019-05-26-15-54-06.uasset
Sandbox/Saved/Backup/FaceObject_2019-05-26-15-47-57.uasset
Sandbox/Saved/Backup/FaceObject_2019-05-26-15-38-02.uasset
Sandbox/Saved/Backup/FaceObject_2019-05-26-15-08-51.uasset
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Components/JP_Utility_Library_Auto8.uasset
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Components/FaceObject_Auto6.uasset
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Components/FaceObject_Auto5.uasset
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Components/FaceObject_Auto4.uasset
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Components/FaceObject_Auto3.uasset
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Components/FaceObject_Auto2.uasset
Sandbox/Saved/Config/Windows/Game.ini
Sandbox/Saved/Config/Windows/Engine.ini
Sandbox/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Sandbox/Saved/Config/Windows/Editor.ini
Sandbox/Saved/Config/Windows/DeviceProfiles.ini
Sandbox/Saved/Config/Windows/Compat.ini
Sandbox/Saved/Config/CrashReportClient/UE4CC-Windows-2747BDB149BD8BC5B521AABAD039DF0D/CrashReportClient.ini
Sandbox/Saved/Backup/JP_Utility_Library_2019-05-26-17-00-37.uasset
Sandbox/Saved/Backup/JP_Math_Library_2019-05-26-16-43-58.uasset
Sandbox/Saved/Backup/JP_Math_Library_2019-05-26-16-38-43.uasset
Sandbox/Saved/Backup/Floor_400x400_2019-05-26-14-20-42.uasset
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto8.umap
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto7.umap
Sandbox/Saved/Autosaves/Game/ThirdPersonBP/Maps/ThirdPersonExampleMap_Auto6.umap
Sandbox/Saved/Backup/ThirdPersonCharacter_2019-05-26-16-47-54.uasset
Sandbox/Saved/Backup/ThirdPersonCharacter_2019-05-26-16-37-07.uasset
Sandbox/Saved/Backup/ThirdPersonCharacter_2019-05-26-16-21-37.uasset
Sandbox/Saved/Backup/ThirdPersonCharacter_2019-05-26-16-15-22.uasset
Sandbox/Saved/Backup/FaceObject_2019-05-26-16-21-07.uasset
Sandbox/Saved/Backup/FaceObject_2019-05-26-16-15-55.uasset
Sandbox/Saved/Backup/FaceObject_2019-05-26-16-02-01.uasset
Sandbox/Saved/Config/Windows/Paper2D.ini
Sandbox/Saved/Config/Windows/OculusVR.ini
Sandbox/Saved/Config/Windows/MagicLeap.ini
Sandbox/Saved/Config/Windows/Lightmass.ini
Sandbox/Saved/Config/Windows/Input.ini
Sandbox/Saved/Config/Windows/Hardware.ini
Sandbox/Saved/Config/Windows/GameUserSettings.ini
Sandbox/Saved/Backup/ThirdPersonExampleMap_2019-05-26-16-49-31.umap
Sandbox/Saved/Backup/ThirdPersonExampleMap_2019-05-26-16-37-26.umap
Sandbox/Saved/Backup/ThirdPersonExampleMap_2019-05-26-16-18-39.umap
Sandbox/Saved/Backup/ThirdPersonCharacter_2019-05-26-17-00-08.uasset
Sandbox/Saved/Backup/MathLibrary_2019-05-26-16-31-47.uasset
Sandbox/Saved/Backup/MathLibrary_2019-05-26-16-25-21.uasset
Sandbox/Saved/Backup/JP_Utility_Library_2019-05-26-17-14-47.uasset
*/SP_Utility_Library.zip
SP_Utility_Library.zip
PaintballSimulator/Binaries/Android/PaintballSimulator-armv7-es2.apk
Melee/Build/
Melee/Binaries/Android/Melee-armv7-es2.so
Melee/Binaries/Android/Melee-armv7-es2.apk
*_BuiltData.uasset
